<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
</head>
<body>
    <p>{{ firstName }}</p>
    <p>{{ lastName }}</p>
    <p>{{ senderEmail }}</p>
    <p>{{ message }}</p>
    <p>{{ phone }}</p>
</body>
</html>